#storeLogo{
    height: 25px;
    width: 65px;
    float: right;
    
}

body{
    background-color: rgb(196, 189, 179);
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    font-family: 'Solway', serif;
  }
  
  .sidebar a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidebar a:hover {
    color: #f1f1f1;
  }
  
  .sidebar .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
 
  }
  @media screen and (max-height: 450px) {
    .sidebar {padding-top: 15px;}
    .sidebar a {font-size: 18px;}
   
  }  


  #header{
      display: block;
      flex-direction: row;
      float: right;
      
      margin-bottom: 15px;
  }
  span{
      font-size: 1.5em;
      margin-right: 15px;
      font-family: 'Solway', serif;
  }

  .shopItem{
      height: 500px;
      width: 350px;
      margin-top: 25px;
      margin-bottom: 25px;
      margin-right: 25px;
  }
  .wideShopItem{
      height: 700px;
      max-width: 1000px;
      margin-top: 25px;
      margin-bottom: 25px;
  }
  .inline{
    display: flex;
    flex-direction: row;
  }
  footer{
      background-color: rgb(24, 24, 24);
      height: 250px;
      padding-left: 25px;
      padding-top: 25px;
      padding-right: 25px;
      padding-bottom: 25px;
  }
  #footerImage{
      height:250px;
      width: 250px;
      float: right;
    
  }
  #goodBye{
      float:right;
      display: block;
      color: rgb(226, 225, 225);
  }
  @media screen and (max-height: 667px) {
    .shopItem{
      height: 200px;
      width: 150px;
      display: block;
    }
    .wideShopItem{
      height: 200px;
      width: 350px;
      display: block;
    }
    #header{
      
      float: none;
    }
    .wrap{
      height: 250px;
      width: 300px;
      margin-left: 0;
    }
    #screenImage{
      height: 250px;
      width: 300px;
    }
  }

  body,#slider, .wrap, #screenImage{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    height: 100vh;
    
    
  }
.wrap{
  height: 500px;
  width: 700px;
  margin-bottom: 50px;
  margin-left: 50px;
  margin-top: 50px;
}
#screenImage{
  height: 500px;
  width: 700px;
}
  .wrap{position:relative}

  .screenImage{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }

  .slide1{background-image: url('images/elslide1.png')}
  .slide2{background-image: url('images/elslide2.png')}
  .slide3{background-image: url('images/elslide3.png')}
  .slide4{background-image: url('images/elslide4.png')}

  .slideImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #wrap span{
    font-size: 5rem;
    color: black;
  }
  .arrow{
    cursor: pointer;
    position: absolute;
    top: 50%;
    margin-top: -35px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  #arrow-left{
    border-width: 30px 40px 30px 0;
    border-color: transparent #fff transparent transparent;
    left: 0;
    margin-left: 30px;
  }
  #arrow-right{
    border-width: 30px 0 30px 40px;
    border-color: transparent transparent transparent #fff;
    right: 0;
    margin-right: 30px;
  }